* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
   --black: #171321;
   --dkblue: #0d314b;
   --plum: #4b0d49;
   --hotmag: #ff17e4;
   --aqua: #86fbfb;
   --white: #f7f8fa;
   --font-size: 1.3rem;
}

body {
    background-color: rgb(61, 167, 167);
    color: #f7f8fa;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: #ff17e4;
    text-decoration: none;
}

li {
    list-style-type: square;
}
p {
    background-color: #4b0d49;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.name {
    color: aqua;
    margin: 50px;
    text-align: center;
}

.line {
    background-color: greenyellow;
    height: 3px;
    margin: 5px;
}

nav ul li {
    list-style-type: none;
}

.description {
    background-color: darkcyan;
    padding: 20px;
    margin: 5px;
    text-align: right;
}

.highlights {
    text-align: center;
}


img {
    margin-left: 50px;
    border-radius: 10px;
    padding: 10px;
    border-left: 2px solid var(--aqua);
    border-top: 2px solid var(--aqua);
    margin: 10px;
}

article {
    text-align: right;
}


footer {
    text-align: center;
}

footer p {
    letter-spacing: 15px;
    padding: 10px;
    background-color:rgb(61, 167, 167)  ;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}




